.container {
    display: flex;
}
.code {
    width: 50%;
    margin: 20px !important;
}
button {
    width: calc(50% - 40px);
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    box-sizing: border-box;
    padding: 20px 0px;
    margin: 20px;
}